In [1]:
# write a program that accepts the users first and last name and prints them in reverse order with a space between them
first_name,last_name=input("enter your first name\n"),input("enter your last_name\n")
print(last_name+" "+first_name)

enter your first name
vaibhav
enter your last_name
singh
singh vaibhav

In [2]:
# write a python program that accepts an integer (n)and computes the value of n+nn+nnn  
number=int(input("enter the value of your 'n' "))
output=number+(number**2)+(number**3)
print("your result is:-"+str(output))

enter the value of your 'n' 5
your result is:-155

In [3]:
# display three string "name","is,"james" as "name**is**james"
first,second,third="Name","Is","James"
string=[first,second,third]
result_string="**".join(string)
print(result_string)

Name**Is**James

In [4]:
#display float number with two decimal places using print()
given_number=4.6550
print("the value of given number is: {:.2f}".format(given_number))

the value of given number is: 4.66

In [5]:
#accept any three string from one input call
input_string = input("Enter three strings separated by commas: ")
str1, str2, str3 = input_string.split(",")

print("first =", str1)
print("second =", str2)
print("third =", str3)

Enter three strings separated by commas: vaibhav,kumar,singh
first = vaibhav
second = kumar
third = singh